body {
  background-color: #e6d8d8;
  overflow: hidden;
}

#homepage {
  height: 100vh;
}

#decore {
  position: absolute;
  margin-top: -295px;
  margin-left: 850px;
}

.home-heading {
  position: absolute;
  cursor: pointer;
  font-family: 'Amiri', serif;
  font-size: 30px;
  letter-spacing: 6px;
  position: absolute;
}

.home-page-img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.item {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  min-height: 460px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

#elegant {
  cursor: pointer;
  font-family: 'Amiri', serif;
  font-size: 120px;
  letter-spacing: 6px;
  color: #767676;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#elegant:before, #elegant:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  left: -101%;
  -webkit-transition: left 1s;
  transition: left 1s;
}

#elegant:before {
  margin-top: -20px;
}

#elegant:after {
  bottom: 0;
}

#elegant span {
  display: inline-block;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
          transform: rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

#elegant span:nth-child(1) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#elegant span:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#elegant span:nth-child(3) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#elegant span:nth-child(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

#elegant span:nth-child(5) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#elegant span:nth-child(6) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

#elegant span:nth-child(7) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#elegant:hover {
  color: #000;
}

#elegant:hover span {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
          transform: rotate3d(0, 1, 0, 360deg);
}

#elegant:hover span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#elegant:hover span:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

#elegant:hover span:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#elegant:hover span:nth-child(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

#elegant:hover span:nth-child(5) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#elegant:hover span:nth-child(6) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

#elegant:hover span:nth-child(7) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#elegant:hover:before, #elegant:hover:after {
  left: 0;
}

.btn-container {
  position: absolute;
  width: 190px;
  height: 65px;
  top: 69.37vh;
  left: 43vw;
  cursor: pointer;
}

.btn {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-3 {
  padding: 5px;
}

.btn-3 span {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.btn-3 span:hover {
  color: black;
  background-color: transparent;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

.btn-container::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.btn-container:hover::before {
  -webkit-animation: animate 0.5s linear;
          animation: animate 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.btn-container::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.btn-container:hover::after {
  -webkit-animation: animates 0.5s linear forwards;
          animation: animates 0.5s linear forwards;
  cursor: pointer;
}

@-webkit-keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: black;
  }
}
/*# sourceMappingURL=main.css.map */