<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href=" /css/main.css">
  </head>
  <body onload="myFunction()">
    <div id="nav">
      <div class="menu-container">
        <div class="close">close</div>
      </div>
      <div class="side-nav">
        <h2 class="abs-center nav-header">Nav</h2>
        <ul class="abs-center nav-options">
          <li class="rela-block nav-link the-menu">The Menu</li>
          <li class="rela-block nav-link">About Us</li>
          <li class="rela-block nav-link">Stories</li>
          <li class="rela-block nav-link">Locations</li>
          <li class="rela-block nav-link">Contact Us</li>
        </ul>
      </div>
      <div class="nav-button top">
        <div class="abs-center nav-bars"></div>
      </div>
    </div>
    <div id="homepage"><img class="home-page-img" src="/img/wooden-bg.jpg" alt="" srcset="">
      <div class="item">
        <div id="elegant"><span>E</span><span>L</span><span>E</span><span>G</span><span>A</span><span>N</span><span>T</span></div>
      </div>
      <div id="decore">
        <h1 class="home-heading">DECORE</h1>
      </div>
      <div id="sec01">
        <div class="scroll-down-btn">
          <div class="text">Scroll</div>
          <div class="arrow"></div>
          <div class="arrow2"></div>
        </div>
      </div>
      <div id="sec02"></div>
      <div id="box"> 
        <div class="blog-slider"></div>
        <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt=""></div>
            <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div><a class="blog-slider__button" href="#">READ MORE</a>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt=""></div>
            <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
              <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div><a class="blog-slider__button" href="#">READ MORE</a>
            </div>
          </div>
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img"><img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt=""></div>
            <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span>
              <div class="blog-slider__title">Lorem Ipsum Dolor</div>
              <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div><a class="blog-slider__button" href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </div>
  </body>
  <script src="/js/script.js"> </script>
</html>