.scroll-down-btn {
    position: absolute;
    text-align: center;
    top: 86%;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
}

.scroll-down-btn .arrow {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0) $home-heading-color $home-heading-color rgba(0, 0, 0, 0);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: arrow .8s infinite;
    -webkit-animation: arrow .8s infinite;
}

.scroll-down-btn .arrow2 {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0) $home-heading-color $home-heading-color rgba(0, 0, 0, 0);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: arrow2 .10s infinite;
    -webkit-animation: arrow2 .8s infinite;
}


.scroll-down-btn .text {
    font-family: $heading-font;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -33px;
    color: $home-heading-color;
    font-weight: bolder;
    width: 70px;
    letter-spacing: 4px;
    text-align: center;
    animation: arrow .8s infinite;
    -webkit-animation: arrow .8s infinite;
}

@keyframes arrow {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@keyframes arrow2 {
    0% {
        top: 0px;
    }

    50% {
        top: 15px;
    }

    100% {
        top: 0px;
    }
}