header {
	height: calc(100vh - 22px);
	background-size: cover;
	padding: 20px 70px;
	nav {
		position: fixed;
		top: 0;
		padding: 36px 36px 20px;
		z-index: 20;
		.toggle {
			display: none;
			top: 26px;
			left: 20px;
			background-color: transparent;
			border: none;
			padding: 0;
			z-index: 21;
			&:focus {
				outline: none;
			}
			&.active {
				left: 32%;
				.first {
					top: 16px;
					transform: rotate(-45deg);
				}
				.last {
					top: 0;
					transform: rotate(45deg);
				}
			}
			.hide {
				transition: 0s;
				visibility: hidden;
			}
			span {
				display: block;
				width: 30px;
				height: 2px;
				border-radius: 40px;
				&:not(:last-of-type) {
					margin-bottom: 6px;
				}
			}
		}
		&.active {
			.toggle {
				span {
					background-color: #000;
				}
			}
			.navigation-bar {
				a {
					color: #000;
				}
			}
		}
		.logo {
			flex-basis: 56%;
			padding-left: 50px;
		}
	}
	.navigation-bar {
		&.show {
			width: 40%;
			a {
				color: #ccc !important;
				&:hover {
					color: #fff !important;
				}
			}
		}
		ul {
			li {
				flex: 1;
				padding: 0 10px;
			}
		}
		a {
			text-decoration: none;
			transition: all 0.5s;
			font-size: 16px;
		}
		.underline {
			height: 2px;
			width: 0;
			left: 50%;
			bottom: -4px;
			transition: all 0.3s;
			display: block;
		}
	}
}
