doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href=" /css/main.css")
    body
      

      .side-nav
          h2.abs-center.nav-header Nav
            ul.abs-center.nav-options
              li.rela-block.nav-link The Menu
              li.rela-block.nav-link About Us
              li.rela-block.nav-link Stories
              li.rela-block.nav-link Locations
              li.rela-block.nav-link Contact Us

        
          #homepage
            //- img.home-page-img(src="/img/wooden-bg.jpg", alt="", srcset="")
            .item
              #elegant
                span E
                span L
                span E
                span G
                span A
                span N
                span T
            #decore
                h1.home-heading DECORE
            #sec01
              .scroll-down-btn
                .text Scroll
                .arrow
                .arrow2
            #sec02
       


        



    script(src="/js/script.js") 