doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href=" /css/main.css")
    body
          #homepage
            img.home-page-img(src="/img/wooden-bg.jpg", alt="", srcset="")
            .item
              #elegant
                span E
                span L
                span E
                span G
                span A
                span N
                span T
            #decore
                h1.home-heading DECORE
            #sec01
              .scroll-down-btn
                .text Scroll
                .arrow
                .arrow2
            #sec02
            a.logo(href='https://front.codes/' target='_blank')
                input#menu-icon.menu-icon(type='checkbox' name='menu-icon')
                label(for='menu-icon')
                nav.nav
                    ul.pt-5
                        li
                          a(href='#') Work
                        li
                          a(href='#') Studio
                        li
                          a(href='#') News
                        li
                          a(href='#') Contact



        



    script(src="/js/script.js") 