doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href=" /css/main.css")
    body(onload='myFunction()')
      
          #nav
            .menu-container
              .close close
            .side-nav
              h2.abs-center.nav-header Nav
              ul.abs-center.nav-options
                li.rela-block.nav-link.the-menu The Menu
                li.rela-block.nav-link About Us
                li.rela-block.nav-link Stories
                li.rela-block.nav-link Locations
                li.rela-block.nav-link Contact Us
            .nav-button.top
              .abs-center.nav-bars

        
          #homepage
            img.home-page-img(src="/img/wooden-bg.jpg", alt="", srcset="")
            .item
              #elegant
                span E
                span L
                span E
                span G
                span A
                span N
                span T
            #decore
                h1.home-heading DECORE
            #sec01
              .scroll-down-btn
                .text Scroll
                .arrow
                .arrow2
            #sec02
            #box 
              .blog-slider
              .blog-slider__wrp.swiper-wrapper
                .blog-slider__item.swiper-slide
                  .blog-slider__img
                    img(src='https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp' alt='')
                  .blog-slider__content
                    span.blog-slider__code 26 December 2019
                    .blog-slider__title Lorem Ipsum Dolor
                    .blog-slider__text
                      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?
                    a.blog-slider__button(href='#') READ MORE
                .blog-slider__item.swiper-slide
                  .blog-slider__img
                    img(src='https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp' alt='')
                  .blog-slider__content
                    span.blog-slider__code 26 December 2019
                    .blog-slider__title Lorem Ipsum Dolor2
                    .blog-slider__text
                      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?
                    a.blog-slider__button(href='#') READ MORE
                .blog-slider__item.swiper-slide
                  .blog-slider__img
                    img(src='https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp' alt='')
                  .blog-slider__content
                    span.blog-slider__code 26 December 2019
                    .blog-slider__title Lorem Ipsum Dolor
                    .blog-slider__text
                      | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?
                    a.blog-slider__button(href='#') READ MORE
              .blog-slider__pagination

       


          
            

        



    script(src="/js/script.js") 